
  <h1>Angular Knowledge Quiz</h1>
  <main>
    <section>
      <p>
        Welcome to the Angular Essentials Quiz.
        The total number of questions is: <strong>{{totalQuestions}}</strong>
      </p>
    </section>
  <section>
    <button  mat-raised-button color="accent" (click)="startQuiz()">Start Quiz</button>
  </section>
  <hr>
  <section *ngIf="showQuestions" >
    <app-question [currentQuestion]="currentQuestion" [clearForm$]="resetForm"  (userChoice)="OnAnswer($event)" ></app-question>
    <p></p>
    <button #btnNextQuestion class="btn-next" mat-raised-button color="primary"  [disabled]="btnDisabled" (click)="OnNextQuestion()">Next</button>
  </section>
  <hr>

  <app-result *ngIf="showResults" ></app-result>
</main>
